ul{
    list-style-type: none;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#category-list>li{
    width: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    user-select: none;
    text-align: center;
}

#category-list>li>a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}

#category-list>li>img{
    height: 22px;
    width: 22px;
    margin-right: 8px;
}

.categories-div{
    height: 76vh;
    width: 20%;
    position: sticky;
    top: 8vh;
    text-align: center;
    padding-top: 32px;
}

/* stroke: underline link animation effect*/
.stroke ul li
{
position: relative;
}
.stroke ul li:after
{
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: '.';
color: transparent;
background: var(--border-color);
height: 4px;
}
.stroke ul li:hover:after {
width: 100%;
transition: all .7s;
}

.stroke ul li:hover{
    background-color: var(--hover-color);
    transition: all .1s;
    cursor: pointer;
}

.stroke ul li:active{
    background-color: aliceblue;
}

/*stilizimi i pjeses se kartave*/
.content-div{
    display: flex;
    background-color: aliceblue;
}

.card-container-div{
    width: 80%;
    /*centrimi i kartave*/
    display: flex;
    justify-content: center;
    /* border-left: 1px solid var(--border-color); */
    box-shadow: -1px 2px 16px 0px rgba(0,0,0,0.3);
}

.card{
    background-color: white;
    /* height: 40vh;
    width: 28vh; */
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px var(--border-color) solid;
    border-radius: 6px;
}

.card .card-text-div{
    width: 80%;
    cursor: pointer;
}
.card>img{
    width: 80%;
    height: 124px;
    object-fit: fill;
    border-radius: 6px;
    box-shadow: -1px 2px 16px 0px rgba(0,0,0,0.3);
}

.card>img:hover{
    cursor: pointer;
    transform: scale(1.04);
    transition:  .5s;
}

.card button{
    width: 80%;
    padding: 8px 24px;
    border-radius: 6px;
    border: var(--border-color) 2px solid;
    background-color: var(--hover-color);
    cursor: pointer;
}

.card button:hover{
    background-color: var(--primary-color);
    transition: all .1s;
}

.card button:active{
    background-color: aliceblue;
}

/*Card Grid System*/

.centering-card-div{
    width: 80%;
    padding: 32px 0;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(28vh, 1fr));
    grid-auto-rows: 40vh;
}