ul{
    list-style-type: none;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#category-list>li{
    width: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#category-list>li>a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}

#category-list>li>img{
    height: 22px;
    width: 22px;
    margin-right: 8px;
}

.categories-div{
    height: 76vh;
    width: 20%;
    position: sticky;
    top: 8vh;
    text-align: center;
    padding-top: 32px;
}

/* stroke: underline link animation effect*/
.stroke ul li
{
position: relative;
}
.stroke ul li:after
{
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: '.';
color: transparent;
background: #aaa;
height: 4px;
}
.stroke ul li:hover:after {
width: 100%;
transition: all .7s;
}

.stroke ul li:hover{
    background-color: rgba(0, 0, 0, 0.13);
    cursor: pointer;
}

.stroke ul li:active{
    background-color: white;
}

/*stilizimi i pjeses se kartave*/
.content-div{
    display: flex;
}

.card-container-div{
    background-color: aqua;
    width: 80%;
    height: 150vh;
}