#nav{
    height: 8vh;
    max-width: 100%;
    overflow-x: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    z-index: 1;
}

#nav>h1{
    font-size: 2.5vh;
    margin-left: 16px;
    cursor: pointer;
}

#search-box-div{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-box-div>#searchbox{
    width: 95%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin: 0;
}

#search-box-div>i{
    font-size: 24px;
    padding: 4px;
    background-color: var(--primary-color);
    border-radius: 4px;
    box-shadow: -1px 2px 16px 0px rgba(0,0,0,0.3);
}

#search-box-div>i:active{
    background-color: aliceblue;
    transition: all 0.1s;
}

#search-box-div>i:hover{
    cursor: pointer;
}

.nav-icons{
    margin-right: 16px;
    height: 100%;
    display: flex;
    align-items: center;
}


.icon-div{
    display: flex;
    align-items: center;
    padding: 0 8px 0 8px;
    height: 100%;
    user-select: none;
}

.icon-div:hover{
    background-color: var(--hover-color);
    transition: all .2s;
    cursor: pointer;
}

.icon-div:active{
    background-color: aliceblue;
}

.icon-div img{
    height: 32px;
    width: 32px;
}

.icon-div div{
    margin-left: 8px;
}

.icon-div p{
    font-size: 1.8vh;
}

.user-icon-div>a>img{
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.user-icon-div{
    margin-right: 16px;
}
.user-icon-div>img:active{
    transform: scale(1.2);
    transition: all .1s;
}

@media (max-width: 400px){
    #search-box-div{
        display: none;
    }

    .icon-div{
        font-size: 8px !important;
    }
}