:root{
    --primary-color: #C6D1FF;
    --hover-color: #9A9DE5;
    --border-color: #253C78;
    /*aliceblue*/
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


#nav{
    background-color: var(--primary-color) !important;
    border: none !important;
}

footer{
    background-color: var(--primary-color) !important;
    border: none !important;
}

a:active{
    background-color: transparent;
    user-select: none;
}