body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #c6d1ff, #bac4f9, #afb7f3, #a4aaec, #9a9de5);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 564px;
    height: 60vh;
    color: var(--border-color);
}

.container a{
    color: var(--border-color);
}

.container form{
    display: flex;
    flex-direction: column;
    height: 24vh;
    width: 70%;
    justify-content: space-evenly;
}

.container input{
    width: 100%;
    outline: none;
    border: none;
    padding: 8px;
    margin: 8px 0;
}

#submitBtn{
    width: 100%;
    border: none;
    padding: 8px;
    margin: 8px 0;
}

#submitBtn{
    border: 1px solid var(--border-color);
    background-color: var(--primary-color);
    font-size: 1.8vh;
}

#submitBtn:hover{
    background-color: var(--hover-color);
    transition: all .5s;
}

#submitBtn:active{
    background-color: aliceblue;
}

.container input:focus{
    box-shadow: -1px 2px 24px 2px #253C78;
    transition: all 0.35s;
    
}

#submitBtn{
    cursor: pointer;
}

.container a:active{
    color: var(--primary-color)
}